---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "@libs/site-info";

interface Props {
	title?: string;
	image?: string;
	description?: string;
}

const { 
	title = siteInfo.title, 
	description = siteInfo.description
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- SEO -->
		<meta name="description" content={description} />
		<meta name="author" content="Alejandro Leal Gonzalez" />
		<meta name="keywords" content="pokemon, astro, tailwind, pagination" />


		<!-- Open Graph meta tags -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={Astro.url.toString()} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content={title} />
		<title>Pokémon static pagination | {title}</title>
		<ClientRouter />
	</head>
	<body class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
        
		<slot />
	</body>
</html>